###pyrogram==2.0.106
pyrogram==1.4.16
###py-tgcalls==0.9.7
py-tgcalls=2.1.0
###git+https://github.com/rajesh-ezee/pytgcalls.git
parse-torrent-name
tgcrypto
yt-dlp
youtube-search-python
httpx==0.23.2
youtube-search
heroku3
pillow
motor
dnspython
pytz
apscheduler
python-dotenv

pytgcalls[pyrogram]
